{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Hello WeatherForecastController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Weather forecast</h1>
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans({}, 'form') }}</button>
            {{ form_end(form) }}
        </div>

        <div class="row">
            {% if weatherData %}
                <table class="table table-bordered">
                    <tr>
                        <th scope="row">City, country</th>
                        <td>{{ weatherData.location.city}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Temperature</th>
                        <td>{{ weatherData.temperature}}</td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
